/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v24-latin-900.woff")
      format("woff"); /* Modern Browsers */
}

/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/barlow-v12-latin-regular.woff")
      format("woff"); /* Modern Browsers */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", "Times New Roman", Times, serif;
  font-weight: 900;
}

/********************** Header styles start **********************/
.site-header {
  background-color: #fefcf7;
  padding-top: 44px;
  padding-bottom: 45px;
}

.container {
  width: 1310px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo-img {
  width: 236px;
  height: 26px;
}

.site-header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 283px;
  list-style: none;
  padding-left: 0;
}

.site-header__nav-link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888f;

  text-decoration: none;
}
.site-header__nav-link:active{
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #333D4B;
}
/********************** Header styles end **********************/

/********************** Main styles start **********************/
.site-main {
  background-color: #fefcf7;
}

/* Hero section start */
.hero-section__wrapper {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 10px;
  padding-top: 117px;
  padding-bottom: 116px;
  padding-left: 85px;
  margin-bottom: 136px;
}

.hero-section__title {
  width: 493px;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-section__desc {
  width: 445px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  margin-top: 0;
  margin-bottom: 56px;
}

.hero-section__btn {
  display: inline-block;
  background-color: #0e8784;
  border-radius: 6px;
  padding-top: 15px;
  padding-right: 31px;
  padding-bottom: 16px;
  padding-left: 31px;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  text-decoration: none;
}
/* Hero section end */

/* Our Collection section start */
.our-collection-section {
  padding-bottom: 200px;
}

.our-collection__list {
  display: flex;
  width: 1111px;
  background-image: url("../images/our-collection.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;
  padding-left: 0;
  list-style: none;
}

.our-collection__item:last-child {
  padding-top: 15px;
}

.our-collection__img {
  margin-bottom: 71px;
}

.our-collection__title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
  margin-top: 0;
}

.our-collection__desc {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
  margin-top: 0;
}
/* Our Collection section end */

/* Why Choose section start */
.why-choose-section__wrapper {
  background-color: #2c343e;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 317px;
  position: relative;
}

.why-choose-section__title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-top: 0;
  margin-bottom: 32px;
}

.why-choose-section__desc {
  width: 540px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf790;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.why-choose-section__list {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  padding-left: 0;
  list-style: none;
  position: absolute;
  top: 346px;
  right: 85px;
  left: 85px;
}

.why-choose-section__item {
  width: 350px;
  background-color: #0e8784;
  border-radius: 8px;
  padding-top: 72px;
  padding-right: 48px;
  padding-bottom: 48px;
  padding-left: 47px;
}

.why-choose__item-title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.why-choose__item-title::before {
  display: block;
  width: 71px;
  height: 72px;
  background-image: url("../images/coffee-seed.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 56px;
  margin-left: 89px;
  content: "";
}

.why-choose-section__item:nth-child(2) > .why-choose__item-title::before {
  background-image: url("../images/benefits.png");
}

.why-choose-section__item:nth-child(3) > .why-choose__item-title::before {
  background-image: url("../images/shipping.png");
}

.why-choose__item-desc {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  margin-top: 0;
  margin-bottom: 0;
}
/* Why Choose section end */
/********************** Main styles end **********************/

.how-it-works-sec {
  margin-bottom: 200px;
}
.how-it-works-wrapper {
  margin-top: 400px;
  position: relative;
}

.how-it-works-title {
  font-family: "Fraunces";
  margin-left: 83px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 80px;
}
.how-it-worksline {
  width: 760px;
  border: 2px solid #fdd6ba;
  margin-bottom: 50px;
  margin-left: 83px;
}
.smth {
  width: 760px;
  margin-top: -68px;
  padding-left: 0;
  margin-bottom: 67px;
  list-style: none;
  margin-left: 83px;
  display: flex;
  justify-content: space-between;
}
.smth-list {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #fefcf7;
  border: 2px solid #0e8784;
}

.cards {
  display: flex;
  margin-left: 83px;
}

.card {
  width: 290px;
  margin-right: 90px;
}
.card-img {
  margin-bottom: 38px;
}
.card-title {
  width: 220px;

  font-family: "Fraunces";
  margin-top: 0px;
  margin-bottom: 42px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.card-article {
  width: 285px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  margin-top: 0px;
}

.how-it-works-btn {
  width: 217px;
  height: 56px;
  text-decoration: none;
  padding: 15px 31px 16px 31px;
  display: inline-block;
  color: #fff;
  background: #66d2cf;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 64px;
  margin-left: 83px;
}

/* *************************************** footer start *************************************/

.site-footer {
  background: #2c343e;
  width: 1280px;
  margin: 0 auto;
}
.footer-wrapper {
  display: flex;
}
.footer-logo {
  margin-top: 44.47px;
  margin-left: 85px;
  margin-bottom: 47px;
  margin-right: 103px;
}

.footer-list {
  display: flex;
  width: 283px;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  list-style: none;
  margin-right: 369px;
}
.footer-list-item-link {
  text-decoration: none;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.footer-list-item-link:active {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #fefcf7;
}
.footer-icon-list {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}
.icon-list-item-link:active {
  background: #fdd6ba;
}
